GROQ_API_KEY=  # Groq API key for access models from groq
NGROK_AUTHTOKEN= # Ngrok public API endpoint for colab embedding server
EMBED_REMORT_NGROK_API_ENDPOINT = # Remort Ngrok API endpoint for embedding server
EMBED_REMORT_CLOUDFLARED_API_ENDPOINT = # Remort Cloudflared API endpoint for embedding server
GROQ_MODEL_NAME= # Groq Model name(eg: llama-3.1-8b-instant)
MILVUS_HOST = # Milvus database host(eg: localhost)
MILVUS_PORT = # Milvus port number(eg: 19530)